<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>About</title>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
	<section>
		<div class="container">
			<div class="card">
				<div class="card-body my-5">
					<div class="container text-center">
					
					<img style="height: 200px; width: 200px;" class="my_profile_picture" src=""
						th:src="@{'/img/contactlog.png'}" alt="profile photo display" />
						</div>
						
						<h1 class="text-center mt-3 text-secondary font-italic font-weight-light">
							Start Adding your contact on cloud...
						</h1>
						
						<a th:href="@{/user/addcontact}" class="btn btn-primary btn-block mt-4">ADD NEW CONTACT</a>
						
						<hr />
						
						<h3 class="my-3">Donate us</h3>
						<input id="paymentId" type="text" class="form-control my-2" placeholder="Enter amount here" />
						
						<div class="container text-center mt-3">
							<button th:onclick="paymentStart()" class="btn btn-success btn-block">PAY</button>
						</div>
						
				</div>
			</div>
		</div>
		
		<script>
		$(document).ready(()=>{
			$('.item').removeClass('active')
			$('#home-link').addClass('active')
		})
		</script>
		
		
	</section>
</body>
</html>